# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Test
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Database
*.db
*.sqlite
*.sqlite3

# Logs
logs/
*.log

# Output
output/*.csv
output/*.xlsx
*.patch
output/*.patch

# OS
.DS_Store
Thumbs.db

# documentation
Nifty100_Project_Document_FINAL.pdf